@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>trabalho .net</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between">
            <div class="input-group rounded">
                <span class="input-group-text">
                    <input type="image" src="images/search.svg" alt="Search"  @onclick="SearchUsers"/>
                </span>
                <input type="search" class="form-control form-control rounded custom-search" placeholder="Pesquisar"
                    aria-label="Search" aria-describedby="search-addon" @bind="searchTerm"/>
            </div>
            <div class="d-flex">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">Notificações</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">Grupos</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">Perfil</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private string searchTerm = "";
    private void SearchUsers()
    {
        string url = $"/Pesquisar?SearchTerm={Uri.EscapeDataString(searchTerm)}";
        NavigationManager.NavigateTo(url);
    }
}