@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@using Autenticacao

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sabiá</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <div class="menu-login">
        <nav class="flex-column">
            <AuthorizeView>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-person" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
    <div class="Menu-acima">
        <nav class="flex-column">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>

                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
    <div class="menu_abaixo">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Quem Somos
                    </NavLink>

                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usuario">
                        <span class="oi oi-person" aria-hidden="true"></span> Usuario
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="postagem">
                        <span class="oi oi-plus" aria-hidden="true"></span> Postagem
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Samples">
                        <span class="oi oi-plus" aria-hidden="true"></span> Sample
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="rodape">
            <h8>©Sabiá 2023</h8>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
